<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Quick JUnit"
            category="org.eclipse.jdt.junit.preferences"
            class="junit.extensions.eclipse.quick.internal.preference.QuickJUnitPreferencePage"
            id="junit.extensions.eclipse.quick.QuickJUnitPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#CompilationUnitEditorContext"
            id="junit.extensions.eclipse.quick.viewer.java">
         <menu
               label="%Actions.label"
               path="additions"
               id="junit.extensions.eclipse.quick.viewer.java.Actions">
            <separator
                  name="additions">
            </separator>
            <groupMarker
                  name="additions2">
            </groupMarker>
         </menu>
         <action
               label="%JUnitDebugAction.label"
               class="junit.extensions.eclipse.quick.internal.action.JUnitDebugAction"
               menubarPath="junit.extensions.eclipse.quick.viewer.java.Actions/additions"
               id="junit.extensions.eclipse.quick.viewer.java.JUnitDebugAction">
         </action>
         <action
               label="%JUnitRunAction.label"
               class="junit.extensions.eclipse.quick.internal.action.JUnitRunAction"
               menubarPath="junit.extensions.eclipse.quick.viewer.java.Actions/additions"
               id="junit.extensions.eclipse.quick.viewer.java.JUnitRunAction">
         </action>
         <action
               label="%OpenTestingPairAction.label"
               class="junit.extensions.eclipse.quick.internal.action.OpenTestingPairAction"
               menubarPath="junit.extensions.eclipse.quick.viewer.java.Actions/additions"
               id="junit.extensions.eclipse.quick.viewer.java.OpenTestingPairAction">
         </action>
      </viewerContribution>
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaElement"
            adaptable="true"
            id="junit.extensions.eclipse.quick.object.java">
         <menu
               label="&amp;Quick JUnit"
               path="additions"
               id="junit.extensions.eclipse.quick.object.java.Actions">
            <separator
                  name="additions">
            </separator>
            <groupMarker
                  name="additions2">
            </groupMarker>
         </menu>
         <action
               label="%JUnitDebugAction.label"
               class="junit.extensions.eclipse.quick.internal.action.JUnitDebugAction"
               menubarPath="junit.extensions.eclipse.quick.object.java.Actions/additions"
               id="junit.extensions.eclipse.quick.object.java.JUnitDebugAction">
         </action>
         <action
               label="%JUnitRunAction.label"
               class="junit.extensions.eclipse.quick.internal.action.JUnitRunAction"
               menubarPath="junit.extensions.eclipse.quick.object.java.Actions/additions"
               id="junit.extensions.eclipse.quick.object.java.JUnitRunAction">
         </action>
         <action
               label="%OpenTestingPairAction.label"
               class="junit.extensions.eclipse.quick.internal.action.OpenTestingPairAction"
               menubarPath="junit.extensions.eclipse.quick.object.java.Actions/additions"
               id="junit.extensions.eclipse.quick.object.java.OpenTestingPairAction">
            <enablement>
               <or>
                  <objectClass
                        name="org.eclipse.jdt.core.IMember">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jdt.core.ICompilationUnit">
                  </objectClass>
               </or>
            </enablement>
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor"
            id="junit.extensions.eclipse.quick.editor.java">
         <menu
               label="%Actions.label"
               path="Edit/additions"
               id="junit.extensions.eclipse.quick.editor.java.Actions">
            <separator
                  name="additions">
            </separator>
            <groupMarker
                  name="additions2">
            </groupMarker>
         </menu>
         <action
               definitionId="junit.extensions.eclipse.quick.command.JUnitDebugAction"
               label="%JUnitDebugAction.label"
               class="junit.extensions.eclipse.quick.internal.action.JUnitDebugAction"
               menubarPath="Edit/junit.extensions.eclipse.quick.editor.java.Actions/additions"
               id="junit.extensions.eclipse.quick.editor.java.JUnitDebugAction">
         </action>
         <action
               definitionId="junit.extensions.eclipse.quick.command.JUnitRunAction"
               label="%JUnitRunAction.label"
               class="junit.extensions.eclipse.quick.internal.action.JUnitRunAction"
               menubarPath="Edit/junit.extensions.eclipse.quick.editor.java.Actions/additions"
               id="junit.extensions.eclipse.quick.editor.java.JUnitRunAction">
         </action>
         <action
               definitionId="junit.extensions.eclipse.quick.command.OpenTestingPairAction"
               label="%OpenTestingPairAction.label"
               class="junit.extensions.eclipse.quick.internal.action.OpenTestingPairAction"
               menubarPath="Edit/junit.extensions.eclipse.quick.editor.java.Actions/additions"
               id="junit.extensions.eclipse.quick.editor.java.OpenTestingPairAction">
         </action>
      </editorContribution>
      <!--
      <editorContribution
            targetID="CompilationUnitEditor"
            id="junit.extensions.eclipse.quick.editor.aspectj">
         <menu
               label="%Actions.label"
               path="Edit/additions"
               id="junit.extensions.eclipse.quick.editor.aspectj.Actions">
            <separator
                  name="additions">
            </separator>
            <groupMarker
                  name="additions2">
            </groupMarker>
         </menu>
         <action
               definitionId="junit.extensions.eclipse.quick.command.JUnitDebugAction"
               label="%JUnitDebugAction.label"
               class="junit.extensions.eclipse.quick.JUnitDebugAction"
               menubarPath="Edit/junit.extensions.eclipse.quick.editor.aspectj.Actions/additions"
               id="junit.extensions.eclipse.quick.editor.aspectj.JUnitDebugAction">
         </action>
         <action
               definitionId="junit.extensions.eclipse.quick.command.JUnitRunAction"
               label="%JUnitRunAction.label"
               class="junit.extensions.eclipse.quick.JUnitRunAction"
               menubarPath="Edit/junit.extensions.eclipse.quick.editor.aspectj.Actions/additions"
               id="junit.extensions.eclipse.quick.editor.aspectj.JUnitRunAction">
         </action>
         <action
               definitionId="junit.extensions.eclipse.quick.command.OpenTestingPairAction"
               label="%OpenTestingPairAction.label"
               class="junit.extensions.eclipse.quick.OpenTestingPairAction"
               menubarPath="Edit/junit.extensions.eclipse.quick.editor.aspectj.Actions/additions"
               id="junit.extensions.eclipse.quick.editor.aspectj.OpenTestingPairAction">
         </action>
      </editorContribution>
      -->
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%Category.name"
            description="%Category.description"
            id="junit.extensions.eclipse.quick.command.category">
      </category>
      <command
            name="%JUnitDebugAction.label"
            description="%JUnitDebugAction.description"
            categoryId="junit.extensions.eclipse.quick.command.category"
            id="junit.extensions.eclipse.quick.command.JUnitDebugAction">
      </command>
      <command
            name="%JUnitRunAction.label"
            description="%JUnitRunAction.description"
            categoryId="junit.extensions.eclipse.quick.command.category"
            id="junit.extensions.eclipse.quick.command.JUnitRunAction">
      </command>
      <command
            name="%OpenTestingPairAction.label"
            description="%OpenTestingPairAction.description"
            categoryId="junit.extensions.eclipse.quick.command.category"
            id="junit.extensions.eclipse.quick.command.OpenTestingPairAction">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            sequence="M1+9"
            commandId="junit.extensions.eclipse.quick.command.OpenTestingPairAction"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="junit.extensions.eclipse.quick.command.OpenTestingPairAction"
            contextId="org.eclipse.ui.textEditorScope"
            platform="cocoa"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M4+9">
      </key>
      <key
            commandId="junit.extensions.eclipse.quick.command.OpenTestingPairAction"
            contextId="org.eclipse.ui.textEditorScope"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M4+9">
      </key>
      <key
            sequence="M1+0"
            commandId="junit.extensions.eclipse.quick.command.JUnitRunAction"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="junit.extensions.eclipse.quick.command.JUnitRunAction"
            contextId="org.eclipse.ui.textEditorScope"
            platform="cocoa"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M4+0">
      </key>
      <key
            commandId="junit.extensions.eclipse.quick.command.JUnitRunAction"
            contextId="org.eclipse.ui.textEditorScope"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M4+0">
      </key>
      <key
            sequence="M1+M2+0"
            commandId="junit.extensions.eclipse.quick.command.JUnitDebugAction"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="M4+M2+0"
            commandId="junit.extensions.eclipse.quick.command.JUnitDebugAction"
            platform="carbon"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="M4+M2+0"
            commandId="junit.extensions.eclipse.quick.command.JUnitDebugAction"
            platform="cocoa"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <template
            autoinsert="true"
            contextTypeId="java-members"
            description="Insert Test method(Quick JUnit)"
            id="junit.extensions.eclipse.quick"
            name="Q">
         <pattern>
            @${testType:newType(org.junit.Test)}
public void ${testname}() throws Exception {
	${junit:importStatic(&apos;org.junit.Assert.*&apos;)}${cursor} 
}
         </pattern>
      </template>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="junit.extensions.eclipse.quick.internal.preference.PreferenceInitializer">
      </startup>
   </extension>
</plugin>
