<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Quick JUnit"
            id="junit.extensions.eclipse.quick.javadoc.commands.category">
      </category>
      <command
            name="Open Testing Context"
            categoryId="junit.extensions.eclipse.quick.javadoc.commands.category"
            id="junit.extensions.eclipse.quick.javadoc.commands.javadocCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="junit.extensions.eclipse.quick.javadoc.commands.javadocCommand"
            class="junit.extensions.eclipse.quick.javadoc.handlers.OpenTestingContextHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="junit.extensions.eclipse.quick.javadoc.commands.javadocCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+8"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Edit"
               mnemonic="E"
               id="edit">
            <command
                  commandId="junit.extensions.eclipse.quick.javadoc.commands.javadocCommand"
                  mnemonic="S"
                  id="junit.extensions.eclipse.quick.javadoc.menus.javadocCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="Quick JUnit"
               mnemonic="Q"
               id="junit.extensions.eclipse.quick.object.java.Actions">
            <command
                  commandId="junit.extensions.eclipse.quick.javadoc.commands.javadocCommand"
                  mnemonic="S"
                  id="junit.extensions.eclipse.quick.javadoc.menus.javadocCommand">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
