<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Quick JUnit"
            id="junit.extensions.eclipse.quick.javadoc.commands.category">
      </category>
      <command
            name="Open Testing Context"
            categoryId="junit.extensions.eclipse.quick.javadoc.commands.category"
            id="junit.extensions.eclipse.quick.javadoc.ui.commands.javadocCommand">
      </command>
      <command
            name="Create Testing Context Tag"
            categoryId="junit.extensions.eclipse.quick.javadoc.commands.category"
            id="junit.extensions.eclipse.quick.javadoc.ui.commands.createTestingContextCommand">
      </command>
      
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="junit.extensions.eclipse.quick.javadoc.ui.commands.javadocCommand"
            class="junit.extensions.eclipse.quick.javadoc.ui.handlers.OpenTestingContextHandler">
      </handler>
      <handler
            commandId="junit.extensions.eclipse.quick.javadoc.ui.commands.createTestingContextCommand"
            class="junit.extensions.eclipse.quick.javadoc.ui.handlers.CreateTestContextTagHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="junit.extensions.eclipse.quick.javadoc.ui.commands.javadocCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+8"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="junit.extensions.eclipse.quick.javadoc.ui.commands.createTestingContextCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+M2+8"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Edit"
               mnemonic="E"
               id="edit">
            <command
                  commandId="junit.extensions.eclipse.quick.javadoc.ui.commands.javadocCommand"
                  mnemonic="S"
                  id="junit.extensions.eclipse.quick.javadoc.menus.javadocCommand">
            </command>
            <command
                  commandId="junit.extensions.eclipse.quick.javadoc.ui.commands.createTestingContextCommand"
                  mnemonic="S"
                  id="junit.extensions.eclipse.quick.javadoc.ui.menus.createTestingContextCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="Quick JUnit"
               mnemonic="Q"
               id="junit.extensions.eclipse.quick.object.java.Actions">
            <command
                  commandId="junit.extensions.eclipse.quick.javadoc.ui.commands.javadocCommand"
                  mnemonic="S"
                  id="junit.extensions.eclipse.quick.javadoc.menus.javadocCommand">
            </command>
            <command
                  commandId="junit.extensions.eclipse.quick.javadoc.ui.commands.createTestingContextCommand"
                  mnemonic="T"
                  id="junit.extensions.eclipse.quick.javadoc.ui.menus.createTestingContextCommand">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <instanceof
                     value="org.eclipse.jdt.core.IMember">
               </instanceof>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
</plugin>
