<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="junit.extensions.eclipse.quick.mock.internal.MockitoClasspathContainerInitializer"
            id="junit.extensions.eclipse.quick.mock.MOCKITO_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="junit.extensions.eclipse.quick.mock.internal.wizard.MockitoPage"
            id="junit.extensions.eclipse.quick.mock.MOCKITO_CONTAINER"
            name="Mockito">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathFixProcessors">
      <classpathFixProcessor
            class="junit.extensions.eclipse.quick.mock.internal.MockitoClasspathFixProcessor"
            id="junit.extensions.eclipse.quick.mock.MOCKITO_CONTAINER"
            name="Mockito">
            <overrides
                  id="org.eclipse.jdt.ui.text.correction.DefaultClasspathFixProcessor">
            </overrides>
      </classpathFixProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="junit.extensions.eclipse.quick.mock.internal.preference.PreferenceInitializer">
      </startup>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="junit.extensions.eclipse.quick.mock.internal.preference.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
