<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#CompilationUnitEditorContext"
            id="junit.extensions.eclipse.quick.pde.viewer.java">
         <action
               label="%PDEJUnitDebugAction.label"
               class="junit.extensions.eclipse.quick.pde.PDEJUnitDebugAction"
               menubarPath="junit.extensions.eclipse.quick.viewer.java.Actions/additions2"
               id="junit.extensions.eclipse.quick.pde.viewer.java.PDEJUnitDebugAction">
         </action>
         <action
               label="%PDEJUnitRunAction.label"
               class="junit.extensions.eclipse.quick.pde.PDEJUnitRunAction"
               menubarPath="junit.extensions.eclipse.quick.viewer.java.Actions/additions2"
               id="junit.extensions.eclipse.quick.pde.viewer.java.PDEJUnitRunAction">
         </action>
      </viewerContribution>
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaElement"
            adaptable="true"
            id="junit.extensions.eclipse.quick.pde.object.java">
         <action
               label="%PDEJUnitDebugAction.label"
               class="junit.extensions.eclipse.quick.pde.PDEJUnitDebugAction"
               menubarPath="junit.extensions.eclipse.quick.object.java.Actions/additions2"
               id="junit.extensions.eclipse.quick.pde.object.java.PDEJUnitDebugAction">
         </action>
         <action
               label="%PDEJUnitRunAction.label"
               class="junit.extensions.eclipse.quick.pde.PDEJUnitRunAction"
               menubarPath="junit.extensions.eclipse.quick.object.java.Actions/additions2"
               id="junit.extensions.eclipse.quick.pde.object.java.PDEJUnitRunAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor"
            id="junit.extensions.eclipse.quick.pde.editor.java">
         <action
               definitionId="junit.extensions.eclipse.quick.pde.command.PDEJUnitDebugAction"
               label="%PDEJUnitDebugAction.label"
               class="junit.extensions.eclipse.quick.pde.PDEJUnitDebugAction"
               menubarPath="Edit/junit.extensions.eclipse.quick.editor.java.Actions/additions2"
               id="junit.extensions.eclipse.quick.pde.editor.java.PDEJUnitDebugAction">
         </action>
         <action
               definitionId="junit.extensions.eclipse.quick.pde.command.PDEJUnitRunAction"
               label="%PDEJUnitRunAction.label"
               class="junit.extensions.eclipse.quick.pde.PDEJUnitRunAction"
               menubarPath="Edit/junit.extensions.eclipse.quick.editor.java.Actions/additions2"
               id="junit.extensions.eclipse.quick.pde.editor.java.PDEJUnitRunAction">
         </action>
      </editorContribution>
      <editorContribution
            targetID="CompilationUnitEditor"
            id="junit.extensions.eclipse.quick.pde.editor.aspectj">
         <action
               definitionId="junit.extensions.eclipse.quick.pde.command.PDEJUnitDebugAction"
               label="%PDEJUnitDebugAction.label"
               class="junit.extensions.eclipse.quick.pde.PDEJUnitDebugAction"
               menubarPath="Edit/junit.extensions.eclipse.quick.editor.aspectj.Actions/additions2"
               id="junit.extensions.eclipse.quick.pde.editor.aspectj.PDEJUnitDebugAction">
         </action>
         <action
               definitionId="junit.extensions.eclipse.quick.pde.command.PDEJUnitRunAction"
               label="%PDEJUnitRunAction.label"
               class="junit.extensions.eclipse.quick.pde.PDEJUnitRunAction"
               menubarPath="Edit/junit.extensions.eclipse.quick.editor.aspectj.Actions/additions2"
               id="junit.extensions.eclipse.quick.pde.editor.aspectj.PDEJUnitRunAction">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%Category.name"
            description="%Category.description"
            id="junit.extensions.eclipse.quick.command.category">
      </category>
      <command
            name="%PDEJUnitDebugAction.label"
            description="%PDEJUnitDebugAction.description"
            categoryId="junit.extensions.eclipse.quick.command.category"
            id="junit.extensions.eclipse.quick.pde.command.PDEJUnitDebugAction">
      </command>
      <command
            name="%PDEJUnitRunAction.label"
            description="%PDEJUnitRunAction.description"
            categoryId="junit.extensions.eclipse.quick.command.category"
            id="junit.extensions.eclipse.quick.pde.command.PDEJUnitRunAction">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            sequence="M1+-"
            commandId="junit.extensions.eclipse.quick.pde.command.PDEJUnitRunAction"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="M1+M2+-"
            commandId="junit.extensions.eclipse.quick.pde.command.PDEJUnitDebugAction"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>

</plugin>
